:root{
    --primaria: white;
    --contraste: black;
    --destaque: #3838f9;
    --contraste-leve: hsl(0, 0%, 50%);
    --transition-global: 0s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    transition: var(--transition-global);
}


body{
    width: 100%;
    min-height: 100vh;
    max-height: 200vh;
    display: grid;
    place-items: center;
    background-color: var(--primaria);
}

header{
    width: 100%;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--contraste-leve);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    gap: 10px;
}

header > div{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

header label{
    position: relative;
    display: inline-block;
    width: 56px;
    height: 25px;
    background: var(--primaria);
    border-radius: 30px;
}

header label input{
    display: none;
}

header label span{
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    background: var(--destaque);
    filter: drop-shadow(0 0 5px var(--destaque));
    transition: .5s;
}

header label input:checked + span{
    transform: translateX(31px);
}

main{
    margin-top: 65px;
    padding: 10px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: calc(100vh - 85px);
    min-height: 316px;
}

section .btnArea{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section .content{
    height: 240px;
    width: 240px;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--contraste),
                inset 0 0 10px rgb(85, 85, 85);
}

button{
    padding: 8px 16px;
    border-radius: 10px;
    cursor: not-allowed;
    border: none;
    outline: none;
    filter: drop-shadow(0 0 10px var(--destaque));
    opacity: .5;
    background: var(--destaque);
    color: var(--primaria);
    transition: .2s;
}

button.act{
    opacity: .8;
    cursor: pointer;
}

button.act:hover{
    translate: 0 -3px;
}

button.act:active{
    filter: brightness(2) drop-shadow(0 0 15px var(--destaque));
}

button.active-i{
    opacity: 1;
    color: white;
}

.p{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2em;
    color: var(--contraste);
}

.p.inUse{
    cursor: not-allowed;
}

.r{
    border-right: 3px solid var(--contraste);
}

.b{
    border-bottom: 3px solid var(--contraste);
}

#msgModal{
    position: absolute;
    display: none;
    color: var(--destaque);
}

canvas {
    position: absolute;
    top: 15px;
    left: 15px;
    background: transparent;
    display: none;
}